@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Home Page";
}

@section header {
    <p>@ViewBag.myobject.MyGuid</p>
}

@*@Html.TextBox(m => m.Email, new { @class = "form-control"})*@
@**@
@*<input asp-for="Email" class="form-control"/>*@

<h3>My Value</h3>

@*@await Html.PartialAsync("~/Views/PartialView/FirstPartialView.cshtml")*@